<div class="chapter-container"><main>
    <a href="./">&larr; Back</a>
    <h1><%= chapter.title %></h1>
    <p><%= chapter.body %></p>
</div></main>

<style>

    .editor-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    main {
        width: 800px;
        padding: 80px;
        margin: auto;
  
        display: flex;
        flex-direction: column;
    }

    h1 { margin-bottom: 24px; }

    a { color: black; }
    a:hover { text-decoration: underline; }

</style>