<main>
    <h1>Welcome to Varanomics</h1>
    <p>A free and open repository of study notes for IB Business Management and Economics.</p>

    <div class="home-nav-container">
        <a href="/business-management">Business Management</a>
        <a href="/economics">Economics</a>
    </div>
</main>